/*******************************
         Site Settings
*******************************/
/*-------------------
       Fonts
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/* See Power-user section below
   for explanation of @px variables
*/
/*-------------------
    Brand Colors
--------------------*/
/*--------------
  Page Heading
---------------*/
/*--------------
   Form Input
---------------*/
/* This adjusts the default form input across all elements */
/* Input Text Color */
/* Line Height Default For Inputs in Browser (Descendors are 17px at 14px base em) */
/*-------------------
    Focused Input
--------------------*/
/* Used on inputs, textarea etc */
/* Used on dropdowns, other larger blocks */
/*-------------------
        Sizes
--------------------*/
/*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
/*-------------------
        Page
--------------------*/
/*-------------------
      Paragraph
--------------------*/
/*-------------------
       Links
--------------------*/
/*-------------------
    Scroll Bars
--------------------*/
/* Inverted */
/*-------------------
  Highlighted Text
--------------------*/
/*-------------------
       Loader
--------------------*/
/*-------------------
        Grid
--------------------*/
/*-------------------
     Transitions
--------------------*/
/*-------------------
     Breakpoints
--------------------*/
/*-------------------
      Site Colors
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/*--- Colored Headers ---*/
/*--- Colored Text ---*/
/*--- Colored Border ---*/
/*-------------------
     Alpha Colors
--------------------*/
/*-------------------
       Accents
--------------------*/
/* Differentiating Neutrals */
/* Differentiating Layers */
/*******************************
           Power-User
*******************************/
/*-------------------
    Emotive Colors
--------------------*/
/* Positive */
/* Negative */
/* Info */
/* Warning */
/*-------------------
        Paths
--------------------*/
/* For source only. Modified in gulp for dist */
/*-------------------
       Em Sizes
--------------------*/
/*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
/* em */
/* rem */
/*-------------------
       Icons
--------------------*/
/* Maximum Glyph Width of Icon */
/*-------------------
     Neutral Text
--------------------*/
/*-------------------
     Brand Colors
--------------------*/
/*-------------------
      Borders
--------------------*/
/*-------------------
    Derived Values
--------------------*/
/* Loaders Position Offset */
/* Rendered Scrollbar Width */
/* Maximum Single Character Glyph Width, aka Capital "W" */
/* Used to match floats with text */
/* Header Spacing */
/* Minimum Mobile Width */
/* Positive / Negative Dupes */
/* Responsive */
/*-------------------
  Exact Pixel Values
--------------------*/
/*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
/* Columns */
/*******************************
             States
*******************************/
/*-------------------
      Disabled
--------------------*/
/*-------------------
        Hover
--------------------*/
/*---  Shadows  ---*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Focus
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
    Down (:active)
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Active
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
html,
body {
  height: 100%;
  background-color: #F7F7F7;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pusher {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.pad.wrapper {
  padding: 60px 0;
  height: 100%;
}
.dark.wrapper {
  background-color: #F7F7F7;
}
.container {
  width: 80%;
  display: inline-block;
  text-align: left;
}
@media all and (max-width: 980px) {
  .container {
    width: 95%;
  }
}
.ct {
  text-align: center;
}
a {
  color: #1B1C1D;
}
a:hover {
  color: #1B1C1D;
}
.sidebar_btn {
  padding: 0px 15px 5px 15px;
}
#filters .ui.divider.horizontal {
  width: 330px;
}
.labeled.form .labels {
  display: inline-block;
  margin-right: 25px;
}
.labeled.form .labels .item {
  padding: 17px 0;
}
.labeled.form .inputs {
  display: inline-block;
}
.labeled.form .inputs .ui.input {
  margin: 5px 0;
}
#active_filters {
  margin-left: 50px;
}
#active_filters span.search {
  font-size: 1em !important;
}
.crossed {
  opacity: 0.5;
}
.crossed:before,
.crossed:after {
  position: absolute;
  content: '';
  background: #767676;
  display: block;
  width: 80%;
  height: 3px;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 99;
  opacity: 0.9;
}
#cover {
  height: 55vh;
  background-image: url('/img/overlays/dot.png'), url('/img/cover.jpg');
  background-size: auto, cover;
  background-position: 0 0, 100% 0%;
  position: relative;
}
@media all and (max-width: 980px) {
  #cover {
    height: 30vh;
    text-align: center;
  }
}
#cover #cover_div {
  position: absolute;
  top: 25%;
  left: 15%;
  text-align: center;
  width: 35%;
  line-height: 5vw;
}
@media all and (max-width: 980px) {
  #cover #cover_div {
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    text-align: center;
    line-height: 5vw;
    margin: auto;
  }
}
#cover #cover_div #slogan {
  font-size: 4vw;
  font-family: "hwt-artz";
}
@media all and (max-width: 980px) {
  #cover #cover_div #slogan {
    font-size: 2.2em;
    line-height: 1.1em;
    margin-bottom: 25px;
  }
}
#cover #cover_div #slogan o {
  color: #A5673F;
}
#cover #cover_div #sub_slogan {
  color: #222;
  margin-top: 1%;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 600;
  line-height: 2em;
  width: 70%;
  margin: 0 auto;
}
@media all and (max-width: 2100px) {
  #cover #cover_div #sub_slogan {
    font-size: 1.2em;
  }
}
@media all and (max-width: 980px) {
  #cover #cover_div #sub_slogan {
    display: none;
  }
}
@media all and (max-width: 980px) {
  #cover #view_goods_btn {
    display: none;
  }
}
#m_categories_btn {
  display: none;
}
#under_cover {
  background-color: #A5673F;
  text-align: center;
}
@media all and (max-width: 736px) {
  #under_cover {
    display: none;
  }
}
#under_cover img {
  display: inline-block;
  margin: 25px 130px;
  position: relative;
  opacity: 0.8;
}
#home_content {
  min-height: 1100px;
}
@media all and (max-width: 980px) {
  #home_content {
    min-height: auto;
  }
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content #filters {
  background-color: rgba(0, 0, 0, 0.05);
}
@media all and (max-width: 980px) {
  .content #filters {
    display: none;
  }
}
.content #filters #product_search {
  margin-bottom: 15px;
}
.content #filters #product_search .ui.input input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 0;
}
.content #filters .item {
  margin: 0px 20px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}
.content #filters .item:hover {
  background-color: #FFFFFF;
}
.content #filters .item.active {
  background-color: #A5673F;
  color: #FFFFFF;
}
.content #filters .item.header {
  font-weight: 900;
}
.content #filters .item label {
  display: inline-block;
}
.content #filters .item .label {
  float: right;
  margin-right: 5px;
  font-style: italic;
  opacity: 0.7;
}
.content #filters .item.ui.checkbox {
  width: 88%;
}
.content #filters .item.ui.checkbox.disabled .label {
  opacity: 0.3;
}
.content #filters .item i.icon {
  color: #A5673F;
  float: right;
}
#grid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #F7F7F7;
  position: relative;
  padding: 35px 0 75px 0;
}
#grid grid {
  display: block;
  margin-left: 35px;
  padding-right: 0px;
}
#grid .item {
  display: inline-block;
  width: 13.5%;
  text-align: center;
  margin: 15px;
  padding: 2.2% 0 25px 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFFFFF;
}
@media all and (max-width: 2100px) {
  #grid .item {
    width: 21.5%;
  }
}
@media all and (max-width: 1690px) {
  #grid .item {
    width: 17.55%;
  }
}
@media all and (max-width: 1280px) {
  #grid .item {
    width: 22%;
  }
}
@media all and (max-width: 980px) {
  #grid .item {
    width: 30%;
  }
}
@media all and (max-width: 736px) {
  #grid .item {
    width: 47%;
  }
}
@media all and (max-width: 480px) {
  #grid .item {
    width: 100%;
  }
}
#grid .item:hover {
  -webkit-box-shadow: 0 0 3px #AAA;
          box-shadow: 0 0 3px #AAA;
}
#grid .item:hover .to_cart {
  opacity: 1;
}
#grid .item .image_div {
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 25px;
  height: 200px;
  width: 80%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
#grid .item .image_div img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#grid .item .title {
  font-weight: 900;
  font-size: 1.1em;
}
#grid .item .desc {
  color: #999;
  margin: 10px 0;
}
#grid .item .prices {
  overflow: hidden;
  margin-top: 15px;
}
#grid .item .price {
  color: #A5673F;
  font-size: 1.4em;
  font-weight: 900;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
#grid .item .sale_price {
  color: #A5673F;
  font-size: 1.4em;
  font-weight: 900;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
}
#grid .item .to_cart {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
}
#grid .item .actions {
  margin-top: 25px;
}
#grid .item .labels {
  position: relative;
  text-align: right;
  width: 89%;
  margin: 10px 0 15px 0;
  z-index: 99;
}
#grid .item .labels .label {
  display: inline-block;
}
#grid .tabbs {
  background-color: rgba(0, 0, 0, 0.03);
  padding-left: 15px;
  margin-bottom: 35px;
}
#grid .tabbs .tabb {
  display: inline-block;
  padding: 16px 25px;
  margin-right: -4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.1em;
  cursor: pointer;
}
#grid .tabbs .tabb:first-child {
  margin-left: -15px;
}
#grid .tabbs .tabb i {
  margin-right: 10px;
  font-size: 1.1em;
}
#grid .tabbs .tabb.active {
  background-color: #00B5AD;
  color: #FFFFFF;
}
#grid .tabbs .tabb:hover {
  background-color: #00B5AD;
  color: #FFFFFF;
}
#grid .sorts {
  margin: 0px 50px 35px 50px;
  margin-bottom: 25px;
  background-color: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
  display: none;
}
#grid .sorts > .sort {
  display: inline-block;
  padding: 12px 25px;
  cursor: pointer;
}
#grid .sorts > .sort.active {
  background-color: #2185D0;
  color: #FFFFFF;
}
#home_sales_div {
  margin-bottom: 70px;
}
#home_sales_div .next {
  margin-right: 25px;
}
#header {
  background-color: #2B2D2D   ;
  width: 100%;
  text-align: center;
}
#header .item {
  padding: 27px 18px;
  display: inline-block;
  color: #DDD;
}
@media all and (max-width: 980px) {
  #header .item {
    padding: 24px 18px;
  }
}
#header #handle {
  display: none;
  float: right;
}
@media all and (max-width: 980px) {
  #header #handle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#header .logo {
  padding: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 980px) {
  #header .logo {
    padding: 15px;
  }
}
#header .logo img {
  margin-right: 15px;
  width: 35px;
}
@media all and (max-width: 980px) {
  #header .logo img {
    width: 25px;
  }
}
#header .logo text {
  font-family: "hwt-artz";
  letter-spacing: 10px;
  display: inline-block;
  font-size: 1.5em;
}
@media all and (max-width: 980px) {
  #header .logo text {
    font-size: 1em;
  }
}
#header .cart {
  float: right;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 900;
}
@media all and (max-width: 980px) {
  #header .cart {
    display: none;
  }
}
#header .cart #cart_icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  font-size: 1.4em;
}
#header .cart #cart_text {
  display: inline-block;
  vertical-align: top;
}
#header .cart #cart_text price {
  display: block;
}
#header .account {
  float: right;
  font-size: 1.2em;
  cursor: pointer;
}
@media all and (max-width: 980px) {
  #header .account {
    display: none;
  }
}
#header .account i.icon.user {
  margin-left: 15px;
}
#auth_popup {
  width: 510px;
  max-width: 530px;
}
#auth_popup .ui.divider {
  opacity: 0.5;
}
#auth_popup .ui.input {
  margin-bottom: 5px;
}
#auth_popup .ui.input input {
  width: 100%;
}
#auth_popup .left {
  display: inline-block;
  width: 230px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px dashed #CCC;
}
#auth_popup .right {
  display: inline-block;
  width: 230px;
}
#auth_popup .right .ui.red.button {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 64%;
}
#auth_popup .row {
  display: block;
  font-size: 1.1em;
  padding: 10px;
  margin: 1px 0;
  border-radius: 3px;
  cursor: pointer;
}
#auth_popup .row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#auth_popup .msgs {
  margin-bottom: 10px;
  color: #DB2828;
}
#body_product_detail {
  background-color: #FFF;
}
#product_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}
#product_detail .other_img img {
  cursor: pointer;
  margin-bottom: 1px;
}
#product_detail .left {
  width: 40%;
  padding-left: 50px;
}
#product_detail .left .img {
  margin-bottom: 15px;
}
#product_detail .left .img img {
  padding: 0 10% 10% 10%;
}
#product_detail .right:not(.labeled):not(.action) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5%;
}
#product_detail .right:not(.labeled):not(.action) #product_name_input {
  font-size: 3em;
}
#product_detail .right:not(.labeled):not(.action) #product_name_input input {
  font-weight: 900;
}
#product_detail #name {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 25px;
}
#product_detail #code {
  font-size: 1.7em;
  color: #555;
  vertical-align: top;
  font-weight: 200;
  font-style: italic;
  display: inline-block;
  padding-top: 6px;
}
#product_detail #parameters {
  margin-bottom: 50px;
  margin-top: 50px;
}
#product_detail #parameters .ui.list {
  font-size: 1.2em;
  margin-left: 55px;
}
#product_detail #parameters.empty {
  color: #CCC;
}
#product_detail #prices {
  margin-top: 25px;
  position: relative;
  display: inline-block;
}
#product_detail #price {
  color: #F2711C;
  font-weight: 900;
  font-size: 3em;
  display: inline-block;
  position: relative;
}
#product_detail #sale_price {
  color: #F2711C;
  font-weight: 900;
  font-size: 3em;
  display: inline-block;
  position: relative;
  margin: 0 15px;
}
#product_detail #maker {
  display: inline-block;
  margin-left: 15px;
  margin-top: 1px;
}
#product_detail #sale {
  display: inline-block;
  margin-left: 35px;
}
#product_detail #new {
  display: inline-block;
}
#create_product_params .row,
#edit_product_params .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
#create_product_params .row .ui.dropdown:first-child,
#edit_product_params .row .ui.dropdown:first-child {
  margin-right: 15px;
}
#create_product_params .row .ui.input:last-child,
#edit_product_params .row .ui.input:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#create_product_submit {
  margin-top: 50px;
}
#product_options {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 15px 0;
}
#product_detail_tocart_btn {
  margin-left: 15px;
  position: relative;
  top: 15px;
}
#create_product_new_flag {
  margin-top: 25px;
  margin-bottom: 10px;
}
#create_product_sale_flag label {
  margin-right: 25px;
}
.edit_product_images .image_div {
  position: relative;
  margin-bottom: 5px;
}
.edit_product_images .image_div.primary {
  -webkit-box-shadow: 0 0 3px #A5673F;
          box-shadow: 0 0 3px #A5673F;
}
.edit_product_images .image_div:hover .edit_product_images_actions {
  opacity: 1;
}
.edit_product_images_actions {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  height: 20px;
  width: 165px;
}
#price_slider {
  margin: 0 auto 70px auto;
  width: 94.2%;
  display: none;
}
#price_slider .noUi-value {
  margin-top: 5px;
}
#admin {
  min-height: 100vh;
}
#admin .categories a {
  display: block;
}
#admin .users {
  padding: 50px;
}
#admin .users .item {
  background-color: #FFFFFF;
  margin-bottom: 3px;
  overflow: hidden;
  border-radius: 5px;
}
#admin .users .item .title {
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
}
#admin .users .item .title:hover {
  background-color: #A5673F;
  color: #FFFFFF;
}
#admin .users .item .content {
  padding: 15px;
  border-top: 1px dashed #EEE;
}
#admin .right {
  padding: 0 35px;
}
.new_product_btn {
  font-size: 1.5em;
  font-weight: 900;
  vertical-align: top;
}
.new_product_btn .icons {
  font-size: 3em !important;
  display: block;
  margin-bottom: 15px;
}
.admin_categories_list {
  padding: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.admin_categories_list .item {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 3px;
  border-radius: 5px;
}
.admin_categories_list .name {
  display: inline-block;
}
.admin_categories_list .admin_edit_category_btn {
  display: inline-block;
  float: right;
}
.no_of_items {
  display: inline-block;
  margin-left: 20px;
  font-style: italic;
  color: #767676;
  font-weight: 100;
}
.admin_filters {
  margin-bottom: 35px;
  margin-left: 15px;
}
.admin_filters .row {
  margin-bottom: 3px;
}
.admin_filters .active {
  margin-bottom: 15px;
}
.admin_filters .active .item {
  background-color: #FFFFFF;
  padding: 10px;
}
#admin_add_category_param_btn {
  margin-top: 0px;
}
#admin_change_category_param_btn {
  float: right;
  position: relative;
  margin-top: -7px;
}
#import_dropzone {
  height: 30px;
  display: inline-block;
  width: 400px;
  padding: 0;
}
#cart_detail {
  padding: 80px 0;
}
#cart_detail .cart_icon {
  background-color: #F7F7F7;
  margin-top: 25px;
}
#cart_detail .cart_icon i.icon {
  opacity: 0.9;
  color: #A5673F;
}
#cart_detail .caption {
  padding: 50px 0;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  background-color: #F7F7F7;
}
#cart_detail .actions {
  text-align: center;
  background-color: #F7F7F7;
}
#cart_detail .cart_plus_product {
  margin-left: 10px;
}
#cart_detail .cart_plus_product,
#cart_detail .cart_minus_product {
  background-color: #DCDDDE;
  border-radius: 999px;
  padding: 5px;
}
#cart_detail .cart_plus_product:hover,
#cart_detail .cart_minus_product:hover {
  background-color: #A5673F;
  color: #FFFFFF;
}
#cart_detail .cart_plus_product i.icon,
#cart_detail .cart_minus_product i.icon {
  margin: 0;
  padding: 0;
}
#cart_detail .status {
  padding-top: 50px;
  background-color: #F7F7F7;
  text-align: center;
}
#cart_detail #grid {
  text-align: center;
  padding: 80px  0 0 0;
}
.cart_item_actions .ui.input {
  margin-bottom: 15px;
}
.cart_item_actions .ui.input input {
  width: 150px;
}
.delete_cart {
  opacity: 0.7;
  cursor: pointer;
  color: #DB2828;
}
.cart_actions {
  background-color: #F7F7F7;
  padding: 50px 0;
}
#cart_delivery {
  background-color: #F7F7F7;
}
#cart_delivery_options {
  margin-bottom: 50px;
}
#cart_shipping {
  background-color: #F7F7F7;
}
#cart_shipping .ui.input {
  margin-bottom: 15px;
}
.cart_address .ui.input {
  margin-bottom: 15px;
}
.cart_address .labels {
  display: inline-block;
  text-align: right;
}
.cart_address .labels .item {
  padding: 20px 10px 19px 0;
}
.cart_address .inputs {
  display: inline-block;
}
.cart_address #use_delivery_address_input {
  margin: 45px 0;
}
.cart_address .delivery:not(.active) {
  display: none;
}
#empty_cart_text {
  font-size: 3em;
  font-weight: 100;
  font-style: italic;
}
.cart_confirm {
  background-color: #F7F7F7;
}
.cart_confirm .products .item.product {
  width: 250px !important;
  padding: 25px 0 !important;
}
.cart_confirm .products .item.product img {
  width: 200px;
}
#category_options {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 15px 0;
}
#settings_user {
  background-color: rgba(0, 0, 0, 0.01);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
#settings_user #left {
  padding-top: 25px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 400px;
}
#settings_user #left .avatar i.icon {
  opacity: 0.7;
}
#settings_user #left .name {
  margin-top: 15px;
  font-size: 1.2em;
  margin-bottom: 25px;
}
#settings_user #left .links .item {
  padding: 0 25px;
  margin-bottom: 5px;
}
#settings_user #right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 50px;
}
.settings_account_div {
  padding-left: 80px;
}
.settings_action {
  padding: 25px 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
  border-bottom: 1px solid #EEE;
}
.lander {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.small_form {
  display: inline-block;
  width: 450px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 15px;
  border-radius: 5px;
}
.order_success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order_success i.icon {
  font-size: 5vw;
  color: #21BA45;
}
.order_success .msg {
  font-size: 2vw;
  font-weight: 100;
  margin-top: 50px;
  display: block;
}
.order_history .header {
  font-weight: 100;
  font-size: 3em;
  margin-bottom: 50px;
}
.order_history .item {
  display: block;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 13px 25px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1px;
}
.order_history .divider {
  margin-top: 100px;
}
footer {
  background-color: #2B2D2D   ;
  padding: 90px 100px 80px 100px;
}
@media all and (max-width: 980px) {
  footer {
    padding: 40px;
  }
}
footer .column {
  display: inline-block;
}
@media all and (max-width: 980px) {
  footer .column {
    display: block;
    text-align: center;
  }
}
footer .column:last-child {
  float: right;
  margin-top: 15px;
}
@media all and (max-width: 980px) {
  footer .column:last-child {
    float: none;
  }
}
footer .logo {
  padding: 20px;
}
footer .logo img {
  margin-right: 15px;
  display: inline-block;
}
@media all and (max-width: 980px) {
  footer .logo img {
    display: none;
  }
}
footer .logo text {
  font-family: "hwt-artz";
  vertical-align: top;
  margin-top: 15px;
  letter-spacing: 10px;
  display: inline-block;
  font-size: 1.7em;
  color: #CCC;
}
@media all and (max-width: 980px) {
  footer .logo text {
    font-size: 1.4em;
  }
}
footer .social {
  color: #CCC;
  font-size: 2em;
}
#welcome {
  border: 13px solid #A5673F;
  -webkit-text-fill-color: #DDD !important;
}
@media all and (max-width: 980px) {
  #welcome {
    border: 8px solid #A5673F;
  }
}
#welcome input:-webkit-autofill,
#welcome input:-webkit-autofill:hover,
#welcome input:-webkit-autofill:focus,
#welcome input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  color: #DDD;
}
#welcome input {
  color: #DDD;
}
#welcome #cover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('/img/overlays/dot.png'), url('/img/welcome.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/overlays/dot.png'), url('/img/welcome.jpg');
  background-size: auto, auto, cover;
  background-position: 100% 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#welcome #cover #msg {
  font-size: 2.7vw;
  color: #FFFFFF;
  font-weight: 100;
  margin-bottom: 45px;
}
@media all and (max-width: 980px) {
  #welcome #cover #msg {
    font-size: 2em;
  }
}
#welcome #cover #login_div {
  text-align: center;
}
#welcome #cover #login_div form {
  width: 70%;
  display: inline-block;
  margin: 0 auto;
}
@media all and (max-width: 1690px) {
  #welcome #cover #login_div form {
    width: 100%;
  }
}
#welcome #cover #login_div .ui.input {
  margin-bottom: 1px;
}
#welcome #cover #login_div .ui.input input {
  background-color: rgba(255, 255, 255, 0.1);
}
