/*******************************
         Site Settings
*******************************/
/*-------------------
       Fonts
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
    Border Radius
--------------------*/
/* See Power-user section below
   for explanation of @px variables
*/
/*-------------------
    Brand Colors
--------------------*/
/*--------------
  Page Heading
---------------*/
/*--------------
   Form Input
---------------*/
/* This adjusts the default form input across all elements */
/* Input Text Color */
/* Line Height Default For Inputs in Browser (Descendors are 17px at 14px base em) */
/*-------------------
    Focused Input
--------------------*/
/* Used on inputs, textarea etc */
/* Used on dropdowns, other larger blocks */
/*-------------------
        Sizes
--------------------*/
/*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
/*-------------------
        Page
--------------------*/
/*-------------------
      Paragraph
--------------------*/
/*-------------------
       Links
--------------------*/
/*-------------------
    Scroll Bars
--------------------*/
/* Inverted */
/*-------------------
  Highlighted Text
--------------------*/
/*-------------------
       Loader
--------------------*/
/*-------------------
        Grid
--------------------*/
/*-------------------
     Transitions
--------------------*/
/*-------------------
     Breakpoints
--------------------*/
/*-------------------
      Site Colors
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/*--- Colored Headers ---*/
/*--- Colored Text ---*/
/*--- Colored Border ---*/
/*-------------------
     Alpha Colors
--------------------*/
/*-------------------
       Accents
--------------------*/
/* Differentiating Neutrals */
/* Differentiating Layers */
/*******************************
           Power-User
*******************************/
/*-------------------
    Emotive Colors
--------------------*/
/* Positive */
/* Negative */
/* Info */
/* Warning */
/*-------------------
        Paths
--------------------*/
/* For source only. Modified in gulp for dist */
/*-------------------
       Em Sizes
--------------------*/
/*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
/* em */
/* rem */
/*-------------------
       Icons
--------------------*/
/* Maximum Glyph Width of Icon */
/*-------------------
     Neutral Text
--------------------*/
/*-------------------
     Brand Colors
--------------------*/
/*-------------------
      Borders
--------------------*/
/*-------------------
    Derived Values
--------------------*/
/* Loaders Position Offset */
/* Rendered Scrollbar Width */
/* Maximum Single Character Glyph Width, aka Capital "W" */
/* Used to match floats with text */
/* Header Spacing */
/* Minimum Mobile Width */
/* Positive / Negative Dupes */
/* Responsive */
/*-------------------
  Exact Pixel Values
--------------------*/
/*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
/* Columns */
/*******************************
             States
*******************************/
/*-------------------
      Disabled
--------------------*/
/*-------------------
        Hover
--------------------*/
/*---  Shadows  ---*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Focus
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
    Down (:active)
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Active
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
html,
body {
  height: 100%;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pusher {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.pad.wrapper {
  padding: 60px 0;
}
.container {
  width: 80%;
  display: inline-block;
  text-align: left;
}
.ct {
  text-align: center;
}
a {
  color: #1B1C1D;
}
a:hover {
  color: #1B1C1D;
}
.sidebar_btn {
  padding: 0px 15px 5px 15px;
}
#filters .ui.divider.horizontal {
  width: 330px;
}
.labeled.form .labels {
  display: inline-block;
  margin-right: 25px;
}
.labeled.form .labels .item {
  padding: 17px 0;
}
.labeled.form .inputs {
  display: inline-block;
}
.labeled.form .inputs .ui.input {
  margin: 5px 0;
}
#active_filters {
  margin-left: 15px;
}
#cover {
  height: 60vh;
  background-image: url('/img/overlays/dot.png'), url('/img/cover.jpg');
  background-size: auto, cover;
}
#cover #cover_div {
  position: absolute;
  top: 25%;
  left: 15%;
  text-align: center;
  width: 35%;
  line-height: 4vw;
}
#cover #cover_div #slogan {
  font-size: 4vw;
  font-family: "hwt-artz";
}
#cover #cover_div #slogan o {
  color: #A5673F;
}
#under_cover {
  background-color: #A5673F;
  text-align: center;
}
#under_cover img {
  display: inline-block;
  margin: 35px 130px;
  position: relative;
  opacity: 0.8;
}
#home_content {
  min-height: 1200px;
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content #filters {
  background-color: rgba(0, 0, 0, 0.05);
}
.content #filters #product_search {
  margin-bottom: 15px;
}
.content #filters #product_search .ui.input input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 0;
}
.content #filters .item {
  margin: 0px 20px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.content #filters .item:hover {
  background-color: #FFFFFF;
}
.content #filters .item.active {
  background-color: #A5673F;
  color: #FFFFFF;
}
.content #filters .item.header {
  font-weight: 900;
}
.content #filters .item .label {
  float: right;
  margin-top: -5px;
}
.content #filters .item.ui.checkbox {
  width: 88%;
}
#grid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 40px;
  background-color: #F7F7F7;
}
#grid .item {
  display: inline-block;
  width: 330px;
  text-align: center;
  margin: 15px;
  padding: 50px 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #FFFFFF;
}
#grid .item:hover {
  -webkit-box-shadow: 0 0 3px #AAA;
          box-shadow: 0 0 3px #AAA;
}
#grid .item:hover .to_cart {
  opacity: 1;
}
#grid .item .image_div {
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 25px;
}
#grid .item .image_div img {
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
}
#grid .item .title {
  font-weight: 900;
  font-size: 1.1em;
}
#grid .item .desc {
  color: #999;
  margin: 10px 0;
}
#grid .item .price {
  color: #A5673F;
  margin: 25px;
  font-size: 1.4em;
  font-weight: 900;
}
#grid .item .to_cart {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#grid .breadcrumb {
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 25px;
  margin-left: 15px;
}
#header {
  background-color: #2B2D2D   ;
  width: 100%;
  text-align: center;
}
#header .item {
  padding: 27px 18px;
  display: inline-block;
  color: #DDD;
}
#header .logo {
  padding: 20px;
}
#header .logo img {
  margin-right: 15px;
}
#header .logo text {
  font-family: "hwt-artz";
  vertical-align: top;
  margin-top: 15px;
  letter-spacing: 10px;
  display: inline-block;
  font-size: 1.7em;
}
#header .cart {
  float: right;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 900;
}
#header .cart #cart_icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  font-size: 1.4em;
}
#header .cart #cart_text {
  display: inline-block;
  ertical-align: top;
}
#header .cart #cart_text price {
  display: block;
}
#header .account {
  float: right;
  font-size: 1.2em;
  cursor: pointer;
}
#header .account i.icon {
  margin-left: 15px;
}
#auth_popup {
  width: 510px;
  max-width: 530px;
}
#auth_popup .ui.input {
  margin-bottom: 5px;
}
#auth_popup .ui.input input {
  width: 100%;
}
#auth_popup .left {
  display: inline-block;
  width: 230px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px dashed #CCC;
}
#auth_popup .right {
  display: inline-block;
  width: 230px;
}
#auth_popup .right .ui.red.button {
  display: inline-block;
  position: absolute;
  top: 33%;
  left: 65%;
}
#auth_popup .row {
  display: block;
  font-size: 1.1em;
  padding: 10px;
  margin: 1px 0;
  border-radius: 3px;
  cursor: pointer;
}
#auth_popup .row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#product_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}
#product_detail .left {
  width: 40%;
}
#product_detail .left .img {
  margin-bottom: 15px;
}
#product_detail .left .img img {
  padding: 0 10% 10% 10%;
}
#product_detail .left .other_img img {
  display: inline-block;
  cursor: pointer;
}
#product_detail .right:not(.labeled):not(.action) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10%;
}
#product_detail .right:not(.labeled):not(.action) #product_name_input {
  font-size: 3em;
}
#product_detail .right:not(.labeled):not(.action) #product_name_input input {
  font-weight: 900;
}
#product_detail #name {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 25px;
}
#product_detail #code {
  font-size: 1.7em;
  color: #555;
  vertical-align: top;
  font-weight: 200;
  font-style: italic;
}
#product_detail #code .ui.label {
  margin-left: 15px;
  margin-top: 1px;
}
#product_detail #parameters {
  margin-bottom: 50px;
  margin-top: 50px;
}
#product_detail #parameters .ui.list {
  font-size: 1.2em;
  margin-left: 55px;
}
#product_detail #parameters.empty {
  color: #CCC;
}
#product_detail #price {
  color: #F2711C;
  font-weight: 900;
  font-size: 3em;
  display: inline-block;
  position: relative;
  top: 7px;
  margin-top: 25px;
}
#create_product_params .row,
#edit_product_params .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
#create_product_params .row .ui.input:first-child,
#edit_product_params .row .ui.input:first-child {
  margin-right: 15px;
}
#create_product_params .row .ui.input:last-child,
#edit_product_params .row .ui.input:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#create_product_submit {
  margin-top: 50px;
}
#product_options {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 15px 0;
}
#product_detail_tocart_btn {
  margin-left: 15px;
  margin-top: -5px;
}
#admin {
  min-height: 100vh;
}
#admin .categories a {
  display: block;
}
.new_product_btn {
  font-size: 1.5em;
  font-weight: 900;
  vertical-align: top;
}
.new_product_btn .icons {
  font-size: 3em !important;
  display: block;
  margin-bottom: 15px;
}
.admin_categories_list {
  padding: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.admin_categories_list .item {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 3px;
  border-radius: 5px;
}
.admin_categories_list .name {
  display: inline-block;
}
.admin_categories_list .admin_edit_category_btn {
  display: inline-block;
  float: right;
}
.no_of_items {
  display: inline-block;
  margin-left: 20px;
  font-style: italic;
  color: #767676;
  font-weight: 100;
}
#cart_detail .cart_icon {
  background-color: #F7F7F7;
  padding-top: 25px;
}
#cart_detail .cart_icon i.icon {
  opacity: 0.9;
  color: #A5673F;
}
#cart_detail .caption {
  padding: 50px 0;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  background-color: #F7F7F7;
}
#cart_detail .actions {
  text-align: center;
  background-color: #F7F7F7;
}
#cart_detail .cart_plus_product {
  margin-left: 10px;
}
#cart_detail .cart_plus_product,
#cart_detail .cart_minus_product {
  background-color: #DCDDDE;
  border-radius: 999px;
  padding: 5px;
}
#cart_detail .cart_plus_product:hover,
#cart_detail .cart_minus_product:hover {
  background-color: #A5673F;
  color: #FFFFFF;
}
#cart_detail .cart_plus_product i.icon,
#cart_detail .cart_minus_product i.icon {
  margin: 0;
  padding: 0;
}
#cart_detail .status {
  padding-top: 50px;
  background-color: #F7F7F7;
  text-align: center;
}
#cart_detail #grid {
  text-align: center;
  padding: 80px  0 0 0;
}
.cart_item_actions .ui.input {
  margin-bottom: 15px;
}
.cart_item_actions .ui.input input {
  width: 150px;
}
.delete_cart {
  opacity: 0.7;
  cursor: pointer;
  color: #DB2828;
}
.cart_actions {
  background-color: #F7F7F7;
  padding: 50px 0;
}
#cart_delivery {
  background-color: #F7F7F7;
}
#cart_delivery_options {
  margin-bottom: 50px;
}
#cart_shipping {
  background-color: #F7F7F7;
}
#cart_shipping .ui.input {
  margin-bottom: 15px;
}
.cart_address .labels {
  display: inline-block;
  text-align: right;
}
.cart_address .labels .item {
  padding: 20px 10px 19px 0;
}
.cart_address .inputs {
  display: inline-block;
}
#empty_cart_text {
  font-size: 3em;
  font-weight: 100;
  font-style: italic;
}
#category_options {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 15px 0;
}
#settings_user {
  background-color: rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#settings_user #left {
  padding-top: 25px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 400px;
  height: 100vh;
}
#settings_user #left .avatar i.icon {
  opacity: 0.7;
}
#settings_user #left .name {
  margin-top: 15px;
  font-size: 1.2em;
  margin-bottom: 25px;
}
#settings_user #left .links .item {
  padding: 0 25px;
  margin-bottom: 5px;
}
#settings_user #right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.settings_account_div {
  padding-left: 80px;
}
.settings_action {
  padding: 25px 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
  border-bottom: 1px solid #EEE;
}
footer {
  background-color: #2B2D2D   ;
  padding: 100px;
  display: block;
}
