body.eshop #header > .container {
  background-color: #0d345b;
}
body.eshop #header .item {
  color: #DDD;
}
body.eshop footer > .container {
  background-color: #0d345b;
}
body.eshop footer > .container:last-child {
  background-color: #173e65;
}
body.eshop .item.product .to_cart {
  background-color: #f22b6c;
  color: #FFF;
}
