body.eshop #header > .container {
  background-color: #0d345b;
}
body.eshop #header .item {
  color: #CCC;
}
body.eshop footer > .container {
  background-color: #0d345b;
}
body.eshop footer > .container:last-child {
  background-color: #173e65;
}
