body.eshop{

	#eshop{
		max-width: @maxwidth;
	}

	#grid{
		background-color: #FFF;
		padding: 5px !important;
		padding-top: 10px !important;
	}

	#home_news_div, #home_sales_div{
		
		.caption{
  			font-size: 1.5em;
  			padding: 5px;
		}

		.items{
			flex: 1;
		}
	}
}