body.eshop{

	#eshop{
		max-width: @maxwidth;
	}

	#grid{
		background-color: #FFF;
		padding: 25px !important;
		padding-top: 10px !important;
	}

	#home_news_div, #home_sales_div{
		
		.container{
			background-color: #FFF;
			padding: 15px;
		}

		.caption{
			display: flex;
			justify-content: space-between;
			
			@media @break3{
				justify-content: center;
			}

			name{
	  			font-size: 2em;
	  			padding: 15px;
	  			margin-bottom: 10px;
	  			font-weight: 200;
	  			color: #444;

	  			i{
	  				font-size: 0.8em;
	  				position: relative;
	  				top:-1px;
	  				color:#888;
	  			}
  			}

  			arrows{
	  			font-size: 1.3em;
	  			padding: 5px;
	  			margin-bottom: 10px;
	  			font-weight: 700;
				
				@media @break3{
					display: none;
				}

	  			i.icon{
		  			color: #BBB;
		  			font-size: 1.2em;
	  			}
  			}
		}

		.items{
			flex: 1;
		}
	}

	#home_sales_div{
		padding-top: 25px;
	}
}