.item.product.grid{
	display: inline-block;
	width: @cw7;
	text-align: center;
	margin-bottom: 25px;
	margin-right: 25px;
	border-radius: 5px;
	cursor: pointer;
	background-color: @white;
	padding-bottom: 25px;
	position: relative;

	@media @break6{
		width: @cw6;

		&.grid:nth-child(5n){
			margin-right: 0;
		}
	}

	@media @break5{
		width: @cw5;
	}

	@media @break4{
		width: @cw4;
	}

	@media @break3{
		width: @cw3;
		padding-bottom: 5px;

	}

	@media @break2{
		width: @cw2;
	}

	@media @break1{
		width: @cw1;
		margin-right: 5px;
	}
	
	&.grid:nth-child(5n){
		margin-right: 0;
			padding-right: 0;
			border-right: 0;
	}
}

#product_content{
	max-width: @maxwidth;

	.container{
		width: 90%;
	}
}

#product_detail{
	width: 100%;
}

