@headerColorW : rgb(13,52,91);
@headerColorC : rgb(13,52,91);


body.eshop{


	#header{
		>.container{
			background-color: @headerColorC;
		}

		.item{
			color: #DDD;
		}
	}

	footer{
		>.container{
			background-color: rgb(13,52,91);

			&:last-child {
			  background-color: rgb(23,62,101);
			}
		}

	}



}