body.eshop{


	#header{
		>.container{
			background-color: rgb(13,52,91);
		}

		.item{
			color: #CCC;
		}
	}

	footer{
		>.container{
			background-color: rgb(13,52,91);

			&:last-child {
			  background-color: rgb(23,62,101);
			}
		}

	}



}