#admin{
	min-height: 100vh;

	.categories{
		a{
			display: block;
		}
	}

	.users{
		padding: 50px;

		.item{
			background-color: @white;
			margin-bottom: 3px;
			overflow: hidden;
				border-radius: 5px;

			.title{
				padding: 15px;
				border-radius: 5px;
				overflow: hidden;

				&:hover{
					background-color: @brown;
					color: @white;
				}
			}

			.content{
				padding: 15px;
				border-top: 1px dashed #EEE;
			}
		}
	}
}

.new_product_btn{
	font-size: 1.5em;
	font-weight: 900;
	vertical-align: top;
	
	.icons{
		font-size: 3em !important;
		display: block;
		margin-bottom: 15px;
	}
}

.admin_categories_list{
	padding: 50px;
	flex: 1;

	.item{
		background-color: rgba(0,0,0,0.05);
		padding: 15px;
		margin-bottom: 3px;
		border-radius: 5px;
	}

	.name{
		display: inline-block;
	}

	.admin_edit_category_btn{
		display: inline-block;
		float: right;
	}
}

.no_of_items{
	display: inline-block;
	margin-left: 20px;
	font-style: italic;
	color: @grey;
	font-weight: 100;
}