.admin_wrapper{
	display: flex;
	min-height: 1050px;

	@media @break3{
		flex-direction: column;
	}


	.users{
		padding: 50px;
		flex: 1;

		.item{
			background-color: @white;
			margin-bottom: 3px;
			overflow: hidden;
			border-radius: 5px;

			.title{
				padding: 15px;
				border-radius: 5px;
				overflow: hidden;

				&:hover{
					background-color: @brown;
					color: @white;
				}
			}

			.content{
				padding: 15px;
				border-top: 1px dashed #EEE;
			}
		}
	}

	.orders{
		padding: 50px;
		flex: 1;
	}

	.right{
		padding:0 35px;
	}

	.ui.divider{
		margin: 40px  0;

		&:first-child{
			margin-top: 15px;
		}
	}

	#filterbar{
		.categories .item{
			transition: all 0s;
		}
	}
}

.admin_tabs{
	background-color: rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;

	@media @break3{
		flex-direction: row;
		justify-content: space-between;
	}

	.tab{
		position: relative;
		transition: all 0.2s ease;

		i.icon{
			opacity: 0.8;
		    padding: 20px 18px !important;
		    width: 100%;
		    height: 100%;

			&:hover{
				color: @white;
				background-color: @brown;

				+.text, +i.icon{
					opacity: 1;
					z-index: 9999;

				}
			}
		}

		.text{
			position: absolute;
			left: 0;
			margin-left: 68px;
			top: 0;
			opacity: 0;
			padding: 24px 24px 25px 25px;
			background-color: @brown;
			color: @white;
			border-radius: 0 4px 4px 0;
			font-size: 1.2em;
			z-index: -99999;
		}
	}
}


.admin_dashboard{
	background-color: rgba(0,0,0,0.01);
	flex: 1;
	display: flex;
	flex-direction: column;

	padding-left: 2%;
	padding-top: 2%;

	.dashboard_tabs{
		display: block;
		margin-bottom: 2%;

		@media @break2{
			display: flex;
			justify-content: space-between;
			margin: 10px 5px 20px 5px;
		}

		.tab{
			display: inline-block;

			@media @break2{
				flex: 1;
			}
		}
	}

	.boxes{
		display: flex;
		flex-wrap: wrap;
		flex:1;

		&.hidden{
			display: none;
		}
	}

	.box{
		width: 48%;
		margin: 0 2% 2% 0;
		border-radius: 5px;

		@media @break3{
			width: 100%;
		}

		.caption{
			font-size: 1.5em;
			font-weight: 200;
		}

		table{
			tbody {
				td{
					font-weight: 300 !important;
				}

			}
		}

	}
}

.admin_settings{
	padding: 2%;
	width: 50%;
}



.new_product_btn{
	font-size: 1.5em;
	font-weight: 900;
	vertical-align: top;
	
	.icons{
		font-size: 3em !important;
		display: block;
		margin-bottom: 15px;
	}
}

.admin_categories_list{
	padding: 50px;
	flex: 1;

	.item{
		background-color: rgba(0,0,0,0.05);
		padding: 15px;
		margin-bottom: 3px;
		border-radius: 5px;
	}

	.name{
		display: inline-block;
	}

	.admin_edit_category_btn{
		display: inline-block;
		float: right;
	}

	.admin_delete_category_btn{
			display: inline-block;
		float: right;
	}
}

.no_of_items{
	display: inline-block;
	margin-left: 20px;
	font-style: italic;
	color: @grey;
	font-weight: 100;
}

.admin_filters{
	margin-bottom: 35px;

	.item{
		background-color: @white;
		padding: 10px;
		margin-bottom: 2px;
	}
	
}

#admin_add_category_param_btn{
	margin-top: 0px;
}

#admin_change_category_param_btn{
	float: right;
	position: relative;
	margin-top: -7px;
}

#import_dropzone{
	height: 30px;
	display: inline-block;
	width:400px;
	padding: 0;
}

#admin_import_results{
	padding: 25px;
}

.subcategories .add_category_btn{
	background-color: @white;
	width: 200px;
	height: 110px;
	margin: 0 7px;
	text-align: center;
	padding-top: 20px;
	border-radius: 5px;
	box-shadow:  0 0 2px #CCC;
	cursor: pointer;

	i.circle.icon{
		font-size: 45px;
	}

	i.plus.icon{
		margin-left: -1px;
	}

	.text{
		font-weight: 900;
		font-size: 1.2em;
		margin-top: 5px;
	}
}


.admin_method_list{

	i.icon{
		cursor: pointer;

		&.red{
			display: none;
		}
	}

	.ui.dropdown{
		display: none;
	}


}


.order_detail{
	padding: 2%;
	flex: 1;

	.section{
		padding: 1% 0;

		&:first-child{
			padding-top: 0;
		}
	}

	.header.section{
		display: flex;
		justify-content: space-between;
		border-bottom: dashed 1px #CCC;

		.status_div{
			text{
				font-size: 2em;
				font-weight: 200;
				margin-right: 10px;
			}
		}

		.new_statuses{
			text{
				font-size: 2em;
				font-weight: 200;
				margin-right: 10px;
			}
		}


		.status.label{
			font-weight: 300;

			&[data-statusid="1"]{
				background-color: @yellow;
				color: @white;
			}
			&[data-statusid="2"]{
				background-color: @teal;
				color: @white;
			}
			&[data-statusid="3"]{
				background-color: @blue;
				color: @white;
			}
			&[data-statusid="4"]{
				background-color: @green;
				color: @white;
			}
			&[data-statusid="5"]{
				background-color: @red;
				color: @white;
			}

			.ui.label{
				margin-left: 10px;
			}
		}
	}

	.detail.section{
		.tabs{
			margin-bottom: 35px;
		}

		table{
			display: inline-block;
			margin-right: 2%;

			td{
				font-weight: 200;

				&:last-child{
					font-weight: 600;
				}
			}
		}
	}
}