#order_steps_wrapper{

	background-color: #EEE;

	#order_steps{
		margin-bottom: 0px;
		border-radius: 0;
	}
}

#cart_products_wrapper{

	margin-bottom: 1px;
		background-color: #F4F4F4;

	>.container{
		background-color: #FAFAFA;
		padding: 50px;
	}

	.product{
		display: flex;
		width: 100%;
		text-align: left;
		background-color: #FFF;
		padding: 10px 10px 10px 10px;
		margin-bottom: 5px;
		border-radius: 5px;
		align-items: center;
		position: relative;

		.image_div{
			width: 150px;
			height: 100px;
			display: inline-block;
			margin-right: 25px;

			img{
				max-height: 100%;
				max-width: 100%;
			}
		}

		.name{
			font-size: 1.2em;
			font-weight: 400;
			margin-right: 25px;
			flex: 0 0 100%;
			max-width: 200px;
		}	

		.delete{
			cursor: pointer;
		}

		.actions{
			flex: 1;
			background-color: #FFF;
			margin-right: 25px;
		}

		.level{
    		white-space: nowrap;
    		margin-right: 125px;
		}

		.price{
			font-size: 1.2em;
			font-weight: 900;		
		}
	}

	.cart_icon{
		background-color: #F7F7F7;
		margin-top: 25px;
		
		i.icon{
			opacity: 0.9;
			color: @brown;
		}
	}

	.caption{
		padding: 50px 0;
		font-size: 3em;
		font-weight: 100;
		text-align: center;
		background-color: #F7F7F7;

	}

	.actions{
		text-align: center;
		background-color: #F7F7F7;

	}

	.cart_plus_product{
		margin-left: 10px;
	}


	.cart_plus_product,
	.cart_minus_product{
		background-color: @lightGrey;
		border-radius: 999px;
		padding: 5px;

		&:hover{
			background-color: @brown;
			color: @white;
		}

		i.icon{
			margin:0;
			padding: 0;
		}
	}


	.status{
		background-color: #F7F7F7;
		text-align: center;
	}

	#grid{
		text-align: center;
		padding: 80px  0 0 0;
	}
}


#cart_prices_wrapper{
	margin-bottom: 1px;

	>.container{
		padding: 50px;
		background-color: #FFF;
	}

	#cart_total_price{
	text-align: right;
	font-size: 2em;
	margin-top: 30px;
	font-weight: 200;

	price, symbol{
		font-weight: 900;
	}

}

#cart_without_vat_price{
	text-align: right;
	font-size: 1.5em;
	font-weight: 200;

	price, symbol{
		font-weight: 900;
	}

}

#cart_vat{
	text-align: right;
	font-size: 1.5em;
	margin-top: 10px;
	font-weight: 200;

	price, symbol{
		font-weight: 900;
	}

}

#cart_product_price{
	text-align: right;
	font-size: 1.5em;
	margin-top: 10px;
	font-weight: 200;

	price, symbol{
		font-weight: 900;
	}

}

#cart_shipping_price{
	text-align: right;
	font-size: 1.5em;
	margin-top: 25px;
	font-weight: 200;

	price, symbol{
		font-weight: 900;
	}

}

#cart_user_discount{
	text-align: right;
	font-size: 1.5em;
	margin-top: 30px;
	font-weight: 200;

	price, symbol{
		font-weight: 500;
	}

	&.hidden{
		display: none;
	}

}

#cart_min_price{
	text-align: right;
	margin-top: 15px;
	font-style: italic;
	font-weight: 300;
}

#cart_free_shipping_price{
	text-align: right;
	margin-top: 5px;
	clear: right;
	color: @green;
	font-weight: 700;
}

}

#cart_actions_wrapper{

	display: flex;
	flex-direction: column;
	flex: 1;

	>.container{
		background-color: #FFF;
		height: 100%;
		flex: 1;
		text-align: right;
		padding: 50px;

		display: flex;
		justify-content: space-between;
		align-items: flex-start;

	}
}

.cart_item_actions{
	.ui.input {
		margin: 15px 0;

		input{
			width: 150px;
		}
	}
}

.delete_cart{
	font-weight: 300;
	font-size: 1.2em;
	cursor: pointer;
	color: @red;
	margin-bottom: 25px;
	text-align: left;
}

.cart_actions{
	background-color: #F7F7F7;
	padding: 50px 0;
	text-align: right;
	clear: both;
}

#cart_delivery{
		background-color: #F7F7F7;

		.price{
			margin-left: 25px;
			color: @grey;
			font-weight: 900;
			font-size: 1.1em;
		}

}

#cart_delivery_options{
	margin-bottom: 50px;
}

#cart_shipping{
	background-color: #F7F7F7;

	.ui.input{
		margin-bottom: 15px;
	}
}

.cart_address{
	.ui.input{
		margin-bottom: 15px;
	}
	.labels{
		display: inline-block;
		text-align: right;

		.item{
			padding: 20px 10px 19px 0;
		}
	}

	.inputs{
		display: inline-block;
	}

	#use_delivery_address_input{
		margin-bottom: 25px;
	}

	#use_ico_input{
		margin: 45px 0 20px 0;
	}

	.delivery:not(.active){
		display: none;
	}

	.ico{
		margin-bottom: 50px;
	}

	.ico:not(.active){
		display: none;
	};
}	

#empty_cart_text{
	font-size: 3em;
	font-weight: 100;
	font-style: italic;
}

.cart_confirm{
	background-color: #F7F7F7;

	.products{
		.item.product{
			width: 230px !important;

			img{
				width: 200px;
			}
		}
	}
}

.cart_slider{
	padding: 25px 25px 25px 25px;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}



#submit_order_btn{
	margin-top: 45px;
}

#agreements_checkbox{
	margin-top: 35px;

	a{
		text-decoration: underline !important;
	}
}

// steps
.cart_delivery,
.cart_payment{
	position: relative;

	&:hover{
		.options{
		display: flex;
		}
	}
	.price{
		margin-left: 15px;
	}
	.options{
		display: none;
		position: absolute;
		cursor: pointer;
		top:0;
		left:0;
		height: 100%;
		width: 100%;
		background-color: rgba(255,255,255,0.8);
		justify-content: center;
		align-items: center;

		icons{

		}
	}
}