#cart_detail{

	.cart_icon{
		background-color: #F7F7F7;
		padding-top: 25px;

		i.icon{
			opacity: 0.9;
			color: @brown;
		}
	}

	.caption{
		padding: 50px 0;
		font-size: 3em;
		font-weight: 100;
		text-align: center;
		background-color: #F7F7F7;

	}

	.actions{
		text-align: center;
		background-color: #F7F7F7;

	}

	.status{
		padding-top: 50px;
		background-color: #F7F7F7;
		text-align: center;
	}

	#grid{
		text-align: center;
	}
}

.cart_item_actions{
	.ui.input {
		margin-bottom: 15px;

		input{
			width: 150px;
		}
	}
}