#category_options{
	background-color: rgba(0,0,0,0.03);
	padding: 15px 0;
}

#category_image_div{
	display: flex;
}

#category_image_dropzone{
	padding: 80px 20px;
	margin: 0 35px;
	min-height: 60px;
	height: 223px;

	.dz-message{
		margin: 8px;
	}
}

.crop_preview{
	max-height: 223px;
	margin-right: 25px;
}

.ui.button.crop_ok{
	display: none
}

.subcategories{
	display: flex;

	.category_image{
		margin: 0px 8px 15px 8px;

		.image{
			overflow: hidden;

			img{
				border-radius: 6px;
				width: 200px;

			}
		}

		.name{
			text-align: center;
			font-weight: 200;
			font-size: 15px;
			margin: 15px auto 0 auto;
			word-wrap: wrap;
			width: 80%;
		}
	}
}

.category_images{
	display: flex;
	padding: 50px 10%;
	justify-content: space-around;
	flex-wrap: wrap;
	
	.category_image{
		margin-bottom: 35px;
		overflow: hidden;
	}

	.divider{
		margin-bottom: 35px;
	}
}

.category_image{

	.image{
		overflow: hidden;
		border-radius: 6px;


		img{
			border-radius: 6px;
		}
	}

	.name{
		text-align: center;
		font-weight: 200;
		font-size: 20px;
		margin-top: 15px;
	}
}

#add_category_modal{

	.sub.item{
		padding-left: 25px !important;
	}

	.sub2.item{
		padding-left: 40px !important;
	}
}