#category_options{
	background-color: rgba(0,0,0,0.03);
	padding: 15px 0;
}

#category_image_div{
	display: flex;
}

#category_image_dropzone{
	padding: 10px;
	margin: 0 35px;
	min-height: 60px;
	height: 65px;

	.dz-message{
		margin: 8px;
	}
}

.crop_preview{
	max-height: 200px;
}

		
.subcategory{
	padding: 8px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	background-color: @white;
	border-radius: 4px;
	border: 1px solid #EEE;

	.category_image{
		display: inline-block;
		overflow: hidden;
		border-radius: 3px;
		font-size: 3em;
	}

	.category_name{
		display: inline-block;
		margin:0 30px;
		font-weight: 700;
	}
}

.category_images{
	display: flex;
	padding: 50px 20%;
	justify-content: center;
	flex-wrap: wrap;

	.category{
		margin: 0 35px 55px 35px;

		.image img{
			border-radius: 6px;
		}

		.name{
			text-align: center;
			font-weight: 200;
			font-size: 20px;
			margin-top: 15px;
		}
	}
}