#filterbar{
	background-color: rgba(0,0,0,0.05);
	display: flex;
	overflow-y: auto;
	width: 340px;

	@media @break3{
		display: none;
	}

	#cat_div{
		height: 100%;
		overflow-y: auto;
		width: 330px;

	}


	#cat_div.hidden{
		display: none;
	}

	.all_products_btn{
		background-color: @blue;
		color: @white;
		opacity: 0.7;

		&:hover{
			opacity: 1;
			background-color: @blue !important;
			color:@white;
		}

		i{
			margin-right: 15px;
			margin-left: 5px;
		}
	}

	.ui.accordion{
		width: 100%;
	}

	.ui.divider.horizontal{
	}

	.pad.item{
		margin: 0 10px;
		padding: 10px;
		display: block;
		border-radius: 3px;
		display: flex;

		label{
			flex: 1;
		}

		&:hover{
			background-color: @white;
		}
	
	}

	.tabs{
		background-color: rgba(0,0,0,0.05);
		float:left;
		padding: 12px;
		height: 100%;
		padding-top: 25px;
		cursor: pointer;

		.tab{
			writing-mode: tb-rl;
			font-weight: 500;
			font-size: 1.1em;
			padding: 10px;
			border-radius: 3px;
			letter-spacing: 3px;
			text-transform: uppercase;

			&:first-child{
				margin-bottom: 15px;
			}
			
			&:not(.disabled):hover{
				background-color: @brown;
				color: @white;
			}

			&.active{
				background-color: @brown;
				color: @white;
			}

			&.disabled{
				opacity: 0.5;
			}
		}
	}

	.categories{
		padding: 0 10px;

		.item{
			cursor: pointer;
			transition: all 0.3s;
			border-radius: 3px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
				font-weight: 600;

			.caption{
				flex: 1;
				display: flex;
					color: @black;

				a{
					color: @black;
				}

				&:hover{
					background-color: @white;
				}
			}

			.content{
				flex: 1;
			}

			&.selected{
				>.caption>i{
					background-color: @brown;
					color: @white;

					&:hover{
						background-color: @brown;
						color: @white;
					}

				}

				>.caption>a{
					background-color: @brown;
					color: @white;
				}
			}

			&.sub{
				font-weight: 400;

				.caption{
					color: @black;
				}

				a{
					color: @black;
				}
			}

			i.plus,
			i.minus{
				font-size: 1.36em;
			}

			i:not(.setting){
				padding: 10px 14px;
				height: auto;
				margin: auto;
				width: auto;
				max-width: 48px;
				transition: all 0.3s;
			}

			i.setting{
				margin-left: 5px;
				opacity: 0.7;
			}

			a{
				padding: 10px; 
				flex: 1;
				transition: all 0.3s;

			}
		}

		.title{
			padding: 0;
		}


		.content .sub{
			padding-left: 10px;
		}

		.content .content .sub{
			padding-left: 20px;
		}
	}

	#product_search{
		margin-bottom: 15px;

		.ui.input{

			input{
				background-color: rgba(255,255,255,0.5);
				border: none;
				border-radius: 0;
			}
		}

		}


}
.filterbar_handle{
	@media @break3{
		display: none !important;
	}
}



#filterbar_h{
	background-color: #FFF;
	display: flex;
	min-height: 70px;
	justify-content: center;

	.item{
		color: #444;
		padding: 25px;
		border-right: 1px solid rgba(255,255,255,0.2);
		font-size: 1.2em;
		font-weight: 400;

		&:last-child{
			border-right:none;
		}
	}
}

#catalogue_btn{
	margin-top: 20px;
}