footer{

	color: #CCC;
	position: relative;
	z-index: 999;
	width: 100%;
	background-color: #2B2D2D;
	background-image: url('/img/leaves-pattern.png');

	>.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	 	


		@media @break3{
			padding: 20px;
			display: block;
			text-align: center;
		}
	}




	a:hover{
		color: #CCC !important;
	}

	.stretch{
		flex: 1;
		text-align: center;
		display: flex;
		justify-content: center;

		@media @break3{
			display: block;
			margin: 25px 0;
		}

		.column{
			margin: 0 1%;
		}
	}

	.logo{
		display: flex;
		align-items: center;

		@media @break3{
			display: none;
		}

		img{
			margin-right: 15px;
			position: relative;
			display: inline-block;

	
		}
		
		text{
			font-family: "hwt-artz";
			vertical-align: top;
			letter-spacing: 10px;
			display: inline-block;
			font-size: 1.7em;
			color: #CCC;

			@media @break3{
				font-size: 1.4em;
			}
		}
	}

	.social{
		color: #CCC;
		font-size: 2em;
		text-align: right;


		@media @break3{
			text-align: center;
		}

		.icon{
			cursor: pointer;
			color: #CCC;
		}

		.facebook:hover{
			color: @blue;
		}
	}

	#td{
		font-size: 14px;
		margin-top: 5px;
		text-align: right;
		font-weight: 200;

		@media @break3{
			text-align: center;
		}

		a{
			position: relative;
			top: -1px;
		}

		o{
			color:@orange;
			font-weight: 700;
		}
	}
	
}