html, body {
  height: 100%;
  background-color: #F7F7F7;
}

body {
  display: flex;
  flex-direction: column;
}

.pusher {
  flex: 1 0 auto;
}

.pad.wrapper{
	padding: 60px 0; 
	height: 100%;
}

.dark.wrapper{
	background-color: #F7F7F7;
}

.container{
	width: 80%;
	display: inline-block;
	text-align: left;
}


.ct{
	text-align: center;
}

a{
	color: @black;

	&:hover{
		color: @black;
	}
}

.sidebar_btn{
	padding: 0px 15px 5px 15px;
}

#filters{
	.ui.divider.horizontal{
		width: 330px;
	}
}

.labeled.form{
	.labels{
		display: inline-block;
		margin-right: 25px;
		.item{
			padding: 17px 0;
		}
	}

	.inputs{
		display: inline-block;

		.ui.input{
			margin: 5px 0;
		}
	}
}

#active_filters{
	margin-left: 50px;

	span.search{
		font-size: 1em !important; 
	}
}


.crossed {
    padding: 5px;
    opacity: 0.5;
}

.crossed:before, .crossed:after {
    position: absolute;
    content: '';
    background: @grey;
    display: block;
    width: 80%;
    height: 6px;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
    //center the X vertically and horizontally:
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    opacity: 0.9;
}
