html {
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.0) 40%) , url('/img/squairy_light.png');
  background-repeat: no-repeat, repeat;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;

  &[data-layout="1"]{
	  width: 100%;

	  .covers .cover{
	  	height: 55vh;
	  }

	  #nav{
	  	background-color: black;
	  }

	  #header{
	  	background-color: #2B2D2D;

	  	.cart{
	  		background-color: rgba(0,0,0,0.4);
	  	}
	  }
	}

  &[data-layout="2"]{
	  width: 100%;
	  max-width: 1500px;
	  margin: 0 auto;
	  background-color: #F7F7F7;

	  .cover{
	  	height: 40vh;
	  }

	  #nav{
 	    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.19) ) , url('/img/squairy_light.png');

	  	.item{
	  		color: #444;

	  		&:nth-child(3){
	  			background-color: transparent;
	  		}
	  	}
	  }


	#header{
	  	background-color: #2B2D2D;

	  	.item{
			color: #DDD;
		}

		.cart{
			background-color: transparent;
		}
	  }

	  #grid{
		.item{
				width: @ccw7;
			}
		}
		footer{
			margin-bottom: 50px;
		}
		.container{
			width: 95%;
		}

	}


}


.pusher {
  flex: 1 0 auto;
}

.pad.wrapper{
	padding: 60px 0; 
	height: 100%;
}

.dark.wrapper{
	background-color: #F7F7F7;
}

.container{
	width: 80%;
	display: inline-block;
	text-align: left;

	@media @break3{
		width: 95%;
	}
}


.ct{
	text-align: center;
}

a{
	color: @black;

	&:hover{
		color: @black;
	}
}

.fr{
	float: right;
}

.sidebar_btn{
	padding: 0px 15px 5px 15px;
}



.labeled.form{
	.labels{
		display: inline-block;
		margin-right: 25px;
		.item{
			padding: 17px 0;
		}
	}

	.inputs{
		display: inline-block;

		.ui.input{
			margin: 5px 0;
		}
	}
}

#active_filters{
	margin-bottom: 25px;

	span {
	
		@media @break3{
			display: block;
			margin-bottom: 2px;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}	
	}

	span.search{
		font-size: 1em !important; 
	}
}


.crossed {
    opacity: 0.5;
}

.crossed:before, .crossed:after {
    position: absolute;
    content: '';
    background: @grey;
    display: block;
    width: 80%;
    height: 3px;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
    //center the X vertically and horizontally:
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    opacity: 0.9;
}

.ui.steps:last-child {
	margin-bottom: 1em;
}

.accordion .content{
	padding: 0 !important;
}

.ui.accordion .accordion{
	margin: 0;
}


/* Rotate */
.hover{ 
	overflow: hidden;
		img {
			-webkit-transition: .3s ease-in-out;
			transition: .15s ease-in-out;
		}
}

.hover img:hover{
	-webkit-transform: rotate(2deg) scale(1.1);
	transform: rotate(2deg) scale(1.1);
	border-radius: 4px;
}

.br-wrapper{
	display: inline-block;
}


.effect-1 {
  padding-top: 10px;
  position: relative;
  color: inherit;
  text-decoration: none;
  &:before, &:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #666;
    transform:  scaleX(0);
  }
  &:hover:before {
    transform:  scaleX(1);
  }
}

.editable{
	box-shadow: inset 0 0 0 4px #fff, inset 0 0 0 5px #DDD;
}

.ui.table{
	margin: 10px 0  !important;
}

.tabbs{
	margin-bottom: 20px;

	.tabb{
		display: inline-block;
	}
}

.contents{

	.content{
		display: none;
		padding-top: 25px;

		&.active{
			display: block;
		}

		.sum{
			font-weight: 100;
			font-size: 2em;
			margin-bottom: 25px;

			number{
				font-weight: 900;
			}
		}
	}
}