html {
  height: 100%;
  background-repeat: repeat, no-repeat;
}

body {
  height: 100%;
  background-color: transparent;

  &[data-layout="2"]
  {
    background-color: #F1F1F1;
    margin: 25px 0;

    .pusher{
      width: 1330px;
      margin: 0 auto;
    }

    #header{
      border-radius: 5px 5px 0 0;
    }

    .covers{

      @media @break2{
        display: none !important;
      }

      .cover{
        height: 35vh !important;
      }
    }

    footer{
      margin-bottom: 50px;
    }
  }

  .pusher{
      height: 100%;
      display: flex;
      flex-direction: column;
  }

  @media @break2{
    display: block;
  }
}

 .covers{

    @media @break2{
      display: none !important;
    }

    .cover{
	  	height: 55vh !important;
	  }
  }

	  #nav{
	  	background-color: black;
	  }

	  #header{
	  	background-color: #1F1F1F;

	  	.cart{
	  		background-color: rgba(0,0,0,0.4);
	  	}
	  }


.wrapper{
	  background-color: #F7F7F7;
}

.hiden{
  display: none !important;
}

.flex_content{
	flex: 1 0 auto;
	background-color: #F7F7F7;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;

}


.pad.wrapper{
	padding: 60px 0; 

  @media @break3{
    padding: 35px 0;
  }
}

.dark.wrapper{
	background-color: #F7F7F7;
}

.container{
	width: 80%;
	display: inline-block;
	text-align: left;

	@media @break3{
		width: 95%;
	}
}


.ct{
	text-align: center;
}

a{
	color: @black;

	&:hover{
		color: @black;
	}
}

.fr{
	float: right;
}

.sidebar_btn{
	padding: 0px 15px 5px 15px;
}



.labeled.form{
	.labels{
		display: inline-block;
		margin-right: 25px;
		.item{
			padding: 17px 0;
		}
	}

	.inputs{
		display: inline-block;

		.ui.input{
			margin: 5px 0;
		}
	}
}

#active_filters{
	margin-bottom: 25px;

	span {
	
		@media @break3{
			display: block;
			margin-bottom: 2px;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}	
	}

	span.search{
		font-size: 1em !important; 
	}
}


.crossed {
    opacity: 0.5;
}

.crossed:before, .crossed:after {
    position: absolute;
    content: '';
    background: @grey;
    display: block;
    width: 80%;
    height: 3px;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
    //center the X vertically and horizontally:
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    opacity: 0.9;
}

.ui.steps:last-child {
	margin-bottom: 1em;
}

.accordion .content{
	padding: 0 !important;
}

.ui.accordion .accordion{
	margin: 0;
}


.br-wrapper{
	display: inline-block;
}


.effect-1 {
  padding-top: 10px;
  position: relative;
  color: inherit;
  text-decoration: none;
  &:before, &:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #666;
    transform:  scaleX(0);
  }
  &:hover:before {
    transform:  scaleX(1);
  }
}

.editable{
	box-shadow: inset 0 0 0 4px #fff, inset 0 0 0 5px #DDD;
}

.ui.table{
	margin: 10px 0  !important;
}

.tabbs{

	.tabb{
		display: inline-block;
	}
}

.tabs .contents,
.tabbs .contents{

	>.content{
		display: none;
		padding-top: 25px;

		&.active{
			display: block;
		}

		.sum{
			font-weight: 100;
			font-size: 2em;
			margin-bottom: 25px;

			number{
				font-weight: 900;
			}
		}
	}
}

#cookies_msg{
	width: 100%;
	position: fixed;
	bottom: 0;
	left:0;
	padding: 9px;
	background-color: @brown;
  opacity: 0.85;
	color: #FFF;
	text-align: center;

	a{
		color: #FFF;
		position: relative;
		top: -1px;
		text-decoration: underline;
	}

	i.icon{
		margin-left: 15px;
		cursor: pointer;
	}
}

#cookies_consent_btn{
  margin-left: 10px;
}

#cookies_info{
	padding: 4% 25%;
	font-size: 1.2em;
	font-weight: 300;

	img{
		display: inline-block;
	}
}


.covers .flickity-slider {
  transform: none !important;
}

.covers .cover{
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: -1;
}


.covers .cover.is-selected {
  opacity: 1;
  z-index: 0
}

/*----- button 4 -----*/
.btn-4::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4 span::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-4 span::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

/*! Lity - v2.3.1 - 2018-04-20
* http://sorgalla.com/lity/
* Copyright (c) 2015-2018 Jan Sorgalla; Licensed MIT */
.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.lity.lity-opened {
  opacity: 1;
}
.lity.lity-closed {
  opacity: 0;
}
.lity * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important;
}
.lity-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.lity-loading .lity-loader {
  opacity: 1;
}
.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important;
}
.lity-content {
  z-index: 9993;
  width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease;
}
.lity-loading .lity-content,
.lity-closed .lity-content {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}
.lity-content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.lity-close:active {
  top: 1px;
}
/* Image */
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0;
}
/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px;
}
.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}
.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}
.lity-hide {
  display: none;
}


.c_header{
  display: flex;
  align-self: center;
  height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  font-style: italic;
  color: #555;
  div{
    width: 80%;
  }
}

#terms_div{
  text-align: center;
  padding: 3%;
        margin: 0 auto;

  pre{
    background-color: #FFF;
    display: inline-block;
    text-align: center;
      white-space: pre-line;
      max-width: 800px;
      padding: 50px;
  }
}


#gdpr_div{
  text-align: center;
  padding: 3%;
        margin: 0 auto;

  pre{
    background-color: #FFF;
    display: inline-block;
    text-align: center;
      white-space: pre-line;
      max-width: 800px;
      padding: 50px;
  }
}

#contact_left{
  padding: 60px;
  margin-right: 20px;

  .box{
    display: flex;
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 1.1em;

    b{
      display: inline-block;
      min-width: 100px;
    }

    i.icon{
      margin-right: 15px;
    }
  }
}

  #map{
    flex:1;
  }