#header{
	width: 100%;
	text-align: center;
	white-space: nowrap;
	padding: 0 2%;

	@media @break5{
		padding: 0;
	}

	&.shrinkable{
		position: fixed;
		top: 0;

		@media @break3{
			position: relative;
		}
	}

	.container{
		display: flex;
		margin: 0 auto;
		background-color: #1F1F1F;
	}

	.item{
		align-self: center;
		color: #EEE;
		transition: 0.2s ease;
		padding: 0 10px;
		font-weight: 300;
		font-size: 1.1em;

		@media @break3{
			padding: 14px 18px;
		}

		img{
			@media @break3{
				width: 30px !important;
			}
		}
	}

	#sidebar_handle{
		  display: none;
		  float: right;

		  @media @break3{
		    display: flex;
		  }
		}

	.logo{
		padding: 20px 20px 20px 0;
		display: inline-flex;
		align-items: center;


		@media @break3{
			padding: 15px;
		}

		img{
			margin-right: 15px;
			transition: 0.2s ease;

			&.kabelo, &.copper{
				width: 35px;
			}

			&.dedra{
				width: 50px;
			}

			@media @break3{
				width: 25px;
			}
		}
		
		text{
			font-family: "hwt-artz";

			letter-spacing: 4px;
			display: inline-block;
			font-size: 1.5em;

			display: flex;
			flex-direction: column;

			margin-right: 15px;

			o{
				margin-top: 5px;
			}

			span{
				display: block;
				margin-top: 3px;
				padding-top: 5px;
				letter-spacing: 4px;
				border-top: 1px solid #999;
				width: 95.3%;
			}

			@media @break3{
				display: none;
			}
		}
	}

	.search.item{
		flex: 1;
		width: 30%;
		padding: 0;
		padding-right: 15px;
		position: relative;

		i.icon{
			color: #EEE;
			display: inline-block;
			margin-top: -1px;
			font-size: 1.1em;
		}
	}

	#main_search{
		width: 100%;

		input{
			background-color: rgba(255,255,255,0.1);
			padding: 18px 15px;
			color: #DDD;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  font-weight: 200;
			  font-size: 1.1em;
			  color:#FFF;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: pink;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: pink;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: pink;
			}

			&:focus{
				outline-style:none;
				box-shadow:none;
				border-color:transparent;
			}
		}
	}

	#search_results{
		display: none;
		color: #333;
		background-color: #EEE;
		border-radius: 0 0 4px 4px;
		padding: 15px;
		position: absolute;
		z-index: 999999;
		width: 98.8%;
		text-align: left;
		border-bottom: 1px solid #DDD;

		.divider{
			margin: 10px;
		}

		.search_view_all_btn{
		float: right;
		}

		.products{
			margin-bottom: 25px;

			.row{
				background-color: #FFF;
				margin-bottom: 1px;
				padding: 5px;
				border-radius: 5px;
				display: block;

				&:hover{
					background-color: rgba(255,255,255,0.7);
				}

				.image{
					display: inline-block;
					height: 40px;
					width: 40px;

					img{
						max-width: 100%;
						max-height: 100%;
						margin: 0 auto;
					}
					margin-right: 15px;
				}

				.name{
					display: inline-block;
				}
			}
		}

		.users{
			margin-bottom: 25px;

			.row{
				background-color: #FFF;
				margin-bottom: 1px;
				padding: 10px;
				border-radius: 5px;
				display: block;

				&:hover{
					background-color: rgba(255,255,255,0.7);
				}

				.image{
					display: inline-block;
					width: 50px;
					margin-right: 15px;

					i.icon{
						color:#666;
					}
				}

				.name{
					display: inline-block;
				}

				.email{
					display: inline-block;
				}
			}
		}
	}

	.orders{
	  	margin-right: 15px;

		a{
			display: block;
			color: #DDD;
			border-radius: 5px;
	  		box-shadow: 0 0 0 0 rgba(0,0,0, 0.5);
	  		position: relative;
	  		top: 9px;

	  		i.icon{
	  			font-size: 2.2em;
	  			background-color: transparent;
	  			opacity: 1;
	  		}

		  	&:hover{
		  		  -webkit-animation: none;
		  	}

			count{
				opacity: 1;
				display: block;
				position: absolute;
				top:-17px;
				right: -10px;
				margin-left: 5px;
				font-style: normal;
				z-index: 99999;
				background-color: @blue;
				border-radius: 99999px;
				padding: 5px;
				width: 30px;
				height: 30px;
				text-align: center;
			}
		}
	}

	.catalogues{
		cursor: pointer;
		margin-right: 5px;
		margin-top: 3px;

		@media @break3{
			display: none;
		}
	}

	#catalogues_popup{
		width: 370px !important;
		max-width: 500px;
		margin-left: -270px;

		.cat{
			display: inline-block;
			margin-right: 10px;

			&:hover{
				opacity: 0.7;
			}

		}
	}

	.cart{
		display: flex;
		align-self: stretch;
	    align-items: center;
	    text-align: left;
	    position:relative;
	    cursor: pointer;

		&:hover{
			box-shadow: inset 0 0 0 -5px #53a7ea;
		}

		@media @break3{
			display: none;
		}

		#cart_icon{  
			display: inline-block;
			position: relative;
		}

		#cart_text{
			display: none;
			vertical-align: top;

			price{
				display: block;
			}
		}

	}

	.account{
		cursor: pointer;
		overflow: hidden;

		@media @break3{
			display: none;
		}

		i.icon.user{
			margin-left: 10px;
		}
	}
} 


#cart_popup{
	margin-top: 0px;
	margin-left: -275px !important;
	background-color: #FAFAFA;
	min-width: 420px;

	.noitems{
		padding:25px;
		font-size: 1.5em;
		font-weight: 300;
		font-style: italic;
		text-align: center;
	}

	.ui.button{
		margin-top: 15px;
	}

	.product{
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		background-color: #FFF;

		.image_div{
			width: 50px;
			height: 50px;
			display: inline-block;
			margin-right: 25px;
			text-align: center;

			a{
				margin: 0 auto;
				width: 100%;
				img{
					margin: 0 auto;
					max-height: 100%;
					max-width: 100%;
				}
			}
		}

		.name{
			width: 300px;
			flex:1;
		}

		.actions{
			display: none;
		}

		.cart_delete_product{
			display: none;
		}

		.price{
			font-weight: 900;
		}
	}
}

#auth_popup{
	width: 510px;
	max-width: 530px;
	text-align: left;

	.ui.divider{
			opacity: 0.5;
		}

	.ui.input{
		margin-bottom: 5px;

		input{
			width: 100%;
		}
	}

	#register_btn{
		background-color: #0d345b;
        color: #FFF;
	}

	.left{
		display: inline-block;
		width: 230px;
		margin-right: 15px;
		padding-right: 15px;
		border-right: 1px dashed #CCC;
	}

	.right{
		display: inline-flex;
		width: 230px;
		align-items: center;
		height: 100%;

		.ui.button{
			display: inline-block;
			position: absolute;
			top: 40%;
			left: 62%;
			
			&.brown{
				left: 62%;
			}

			&.red{
				left: 64%;
			}
		}
	}

	.row:not(.button){
		display: block;
		font-size: 1.1em;
		padding: 10px;
		margin: 1px 0;
		border-radius: 3px;
		cursor: pointer;

		&:hover{
			background-color: rgba(0,0,0,0.1);
		}


	}

	.msgs{
		margin-bottom: 10px;
		color: @red;
	}
}	


#login_btn{
	margin-bottom: 10px;
}

#register_div{
	vertical-align: top;
}

#reset_pwd_link{
	color: #666;
}

#reminder_msg_ok{
	width: 350px;
	margin: 0 auto;
}

