.main.wrapper{
	padding: 0 2%;
	flex: 1;
}

.top_banner_row{
	display: flex;
	opacity: 0.9;
}

.top_banners{
	margin: 35px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.banner{
		display: block !important;
		position: relative;
		display: inline-block;
		margin-right: 5px;

		img{
			max-width: 100%;
			height: auto;
		}

		&:first-child{
			margin-bottom: 35px;
		}

	}

}


.covers{
	margin: 35px;
	display: inline-block;
	flex: 0 0 100%;
	max-width: 71%;

	&.shrink{
	}

	.cover_options{
		opacity: 0;
	}

	.cover{
		width: 100%;
		height: 100%;

		.cover_div{
			position: absolute;


			.slogan{
				font-family: "hwt-artz";
				margin-bottom: -20px;

				@media @break3{
					font-size: 2.2em;
					line-height: 1.1em;
					margin-bottom: 25px;
				}

				o{
					color: @brown;
				}
			}

			.sub_slogan{
				color: #222;
				margin-top: 1%;
				font-style: italic;
				font-weight: 600;
				line-height: 2em;
				margin: 0 auto;

				@media @break6{
					font-size: 1.2em;
				}

				@media @break3{
					display: none;
				}
			}
		}

		#view_goods_btn{
			@media @break3{
				display: none;
			}
		}
	}

	.flickity-page-dots { bottom: 15px; }
	.flickity-prev-next-button{background-color: transparent;}
	.flickity-slider{padding:0; margin:0;}
}



.stripes.divider{ 
	background-image: url('/img/diag.jpg');
	height: 13px;
	text-align: center; 
	width: 100%;
	@media @break2{	
		display: none;
	}

	img{
		display: inline-block;
		margin: 25px 130px;
		position: relative;
		opacity: 0.8;
	}
}

#home_content{
	  background-color: #F7F7F7;

	 @media @break3{
		min-height: auto;
	}

	#grid, #search_grid{
		padding: 50px;

		@media @break3{
			padding: 10px 3px 10px 10px;
			padding-top: 0px;
		}
	}

	.ui.horizontal.divider{
		margin-bottom: 25px;
	}
}

#eshop{
	flex:1;
	background-color: #FFF;
	width: 100%;
}
.flex{
	display: flex;

	@media @break3{
		flex-direction: column;
	}

}



.flickity-slider{
	padding: 2px;
	margin-left: 3px;
}


#search_grid{
	display: none;
}

#home_catalaogue_div{
	text-align: center;
	
	img{
		display: inline-block;
		margin-right: 25px;
	}
}


#home_news_div, #home_sales_div{
	
	.container{
		padding: 15px 0 15px 35px;
	}

	.caption{
		display: flex;
		justify-content: space-between;

		name{
  			font-size: 1.3em;
  			padding: 5px;
  			margin-bottom: 10px;
  			font-weight: 700;
  			color: #444;

  			i{
  				font-size: 0.8em;
  				position: relative;
  				top:-1px;
  				color:#888;
  			}
			}

			arrows{
  			font-size: 1.3em;
  			padding: 5px;
  			margin-bottom: 10px;
  			font-weight: 700;

  			i.icon{
	  			color: #BBB;
	  			font-size: 1.2em;
  			}
			}
	}

	.items{
		flex: 1;
	}
}

#makers_div{
	padding-left: 38px;
	margin-top: 25px;
	margin-bottom: 25px;

	.container{
			border: 1px solid #EEE;

		padding: 25px;
		background-color: #fff;
		display: flex;
		justify-content: space-around;

		a{
			height: 25px;

			img{
				max-height: 100%;
			}
		}
	}

}