.covers{
		height: 55vh;
		
		@media @break3{
			height: 20vh;
			text-align: center;
		}

	.cover_options{
		opacity: 0;
	}

	.cover{
		width: 100%;
		height: 100%;



		.cover_div{
			position: absolute;


			.slogan{
				font-family: "hwt-artz";

				@media @break3{
					font-size: 2.2em;
					line-height: 1.1em;
					margin-bottom: 25px;
				}

				o{
					color: @brown;
				}
			}

			.sub_slogan{
				color: #222;
				margin-top: 1%;
				font-style: italic;
				font-weight: 600;
				line-height: 2em;
				margin: 0 auto;

				@media @break6{
					font-size: 1.2em;
				}

				@media @break3{
					display: none;
				}
			}
		}

		#view_goods_btn{
			@media @break3{
				display: none;
			}
		}
	}

	.flickity-page-dots { bottom: 15px; }
	.flickity-prev-next-button{background-color: transparent;}
	.flickity-slider{padding:0; margin:0;}
}

#m_categories_btn{
	display: none;
 background-color: #F7F7F7;
	 @media @break3{
		display: block;
		padding: 10px;
	}
}

.under_cover{ 
	background-image: url('/img/diag.jpg');
	height: 13px;
	text-align: center; 

	@media @break2{
		display: none;
	}

	img{
		display: inline-block;
		margin: 25px 130px;
		position: relative;
		opacity: 0.8;
	}
}

#home_content{
	min-height: 1100px;

	 @media @break3{
		min-height: auto;
	}

	#grid{
		padding: 50px;

		@media @break3{
			padding: 10px;
			padding-top: 0px;
		}
	}
}

.flex{
	display: flex;

	@media @break3{
		flex-direction: column;
	}

}



#grid{
		flex:1;
		background-color: #F7F7F7;
		position: relative;
		

		grid{
			display: block;
		}

		.caption{
			font-size: 3em;
			font-weight: 100;
			margin-bottom: 60px;

			@media @break3{
				font-size: 2em;
				margin-top: 10px;
				text-align: center;
				margin-bottom: 30px;
			}
		}

		.subcategories{
			margin-bottom: 50px;
			display: flex;

			@media @break3{
				margin-bottom: 15px;
			}

			.subcategory{
				margin-right: 5px;
			}
		}
		
		.item{
			display: inline-block;
			width: @cw7;
			text-align: center;
			margin-bottom: 25px;
			margin-right: 25px;
			border-radius: 5px;
			cursor: pointer;
			background-color: @white;
			padding-bottom: 25px;

			@media @break6{
				width: @cw6;
			}

			@media @break5{
				width: @cw5;
			}

			@media @break4{
				width: @cw4;
			}

			@media @break3{
				width: @cw3;
				padding-bottom: 5px;

			}

			@media @break2{
				width: @cw2;
			}

			@media @break1{
				width: @cw1;
				margin-right: 5px;
			}

			&:hover{
				box-shadow: 0 0 3px #AAA;

				.to_cart{
					opacity: 1;
				}
			}

			.image_div{
				text-align: center;
				border-radius: 3px;
				overflow: hidden;
				margin-bottom: 25px;
				position: relative;
				padding: 25px;
				width: 100%;

				@media @break3{
					padding: 5px;
					margin-bottom: 5px;
				}


			}

			.title{
				font-weight: 900;
				font-size: 1.1em;

				@media @break3{
					font-size: 0.9em;
					font-weight: 800;
				}
			}

			.desc{
				color: #999;
				margin: 10px 0;
			}

			.prices{
				overflow: hidden;
				margin-top: 15px;
			}

			.price{
				color: @brown;
				font-size: 1.4em;
				font-weight: 900;
				position: relative;
				display: inline-block;
				overflow: hidden;

				@media @break3{
					font-size: 1.3em;
					font-weight: 800;
				}
			}

			.sale_price{
				color: @brown;
				font-size: 1.4em;
				font-weight: 900;
				position: relative;
				overflow: hidden;
				display: inline-block;
				margin-left: 10px;

				@media @break3{
					font-size: 1.3em;
					font-weight: 800;
				}
			}

			.to_cart{
				opacity: 0;
				transition: all 0.3s;
				margin-top: 15px;

				@media @break3{
					opacity: 0.7;
					display: block;	
					margin: 15px 10px 5px 10px;
					padding: 9px;
				}

			}

			.actions{
				margin-top: 25px;
				text-align: center;
				border-radius: 3px;
				overflow: hidden;
				padding: 0 15px;
				opacity: 0.7;

				.ui.button:nth-child(2){
					border-radius: 3px 0 0 3px;
				}
			}

			.labels{
				position: absolute;
				width: 100%;
				text-align: right;
				z-index: 99;
				right: 40px;
				top: 35px;

				@media @break3{
					display: none;
				}

				.label{
					display: inline-block;
				}
			}

		}


		.sorts{
			margin-bottom: 25px;
			background-color: @white;
			border-radius: 4px;
			overflow: hidden;

			@media @break3{
				display: flex;
			}

			>.sort{
				display: inline-block;
				padding: 12px 25px;
				cursor: pointer;

				@media @break3{
					padding: 7px 15px;
				}

				&.active{
					background-color: @blue;
					color: @white;
				}
			}
		}

}

#home_sales_div{
	margin-bottom: 50px;

	.next{
		margin-right: 25px;
	}
}

.flickity-slider{
	padding: 2px;
	margin-left: 3px;
}
