@import "../../../semantic/src/themes/default/globals/site.variables";

@break6: ~"all and (max-width: 2100px)";
@break5: ~"all and (max-width: 1690px)";
@break4: ~"all and (max-width: 1280px)";
@break3: ~"all and (max-width: 980px)";
@break2: ~"all and (max-width: 736px)";
@break1: ~"all and (max-width: 480px)";

@cw7: ~"12.95%";
@cw6: ~"21.5%";
@cw5: ~"17.55%";
@cw4: ~"22%";
@cw3: ~"30%";
@cw2: ~"47%";
@cw1: ~"100%";


@import "globals.less";
@import "home.less";
@import "header.less";
@import "products.less";
@import "admin.less";
@import "cart.less";
@import "categories.less";
@import "settings.less";
@import "forms.less";
@import "orders.less";
@import "footer.less";
@import "welcome.less";
