#nav{
	text-align: center;
	padding: 5px 0;

	@media @break3{
		display: none;
	}

	.item{
		padding: 4px 15px;
		color: #CCC;
		float: right;
		margin-left: 1%;
		font-weight: 300;
		transition: all 0.3s;
		border-radius: 2px;

		&:first-child:hover{
			background-color: @brown;
		}

		&:nth-child(2):hover{
			background-color: @green;

		}

		&:nth-child(3):hover{
			background-color: @red;
		}

		&:nth-child(4):hover{
			background-color: @yellow;
		}

		&:last-child:hover{
			background-color: @blue;
		}
	}
}


.connector_list{
	margin: 35px auto;	
	display: flex;
	width: 80%;
	justify-content: center;
	flex-wrap: wrap;

	.item{
		width: 250px;
		margin: 0 15px 30px 15px;
		background-color: white;
		padding: 15px;
		border-radius: 4px;
		box-shadow: 0 0 2px #CCC;

		.image{	
			background-color: rgba(0,0,0,0.03);
			text-align: center;
			img{
				display: inline-block;
				width: 80%;
				filter: grayscale(100%);
				transition: all 0.3s ease;

				&:hover{
					filter: grayscale(0%);
				}
			}
		}

		.name{
			font-weight: 900;
			margin: 15px 0;
			text-align: center;
		}

		.text{
			text-align: justify;
			font-weight: 300;
		}

	}
}

h1.header{
	text-align: center;
	margin: 55px 0;
	font-size: 2.5em;
	font-weight: 200;
}