#nav{
	background-color: black;
	text-align: center;
	padding: 5px 0;

	.item{
		padding: 4px 15px;
		color: #CCC;
		float: right;
		margin-left: 1%;
		font-weight: 300;
		transition: all 0.3s;
		border-radius: 2px;

		&:first-child:hover{
			background-color: @brown;
		}

		&:nth-child(2):hover{
			background-color: @green;
						color: @black;

		}

		&:nth-child(3):hover{
			background-color: @red;
		}

		&:nth-child(4):hover{
			background-color: @yellow;
			color: @black;
		}

		&:last-child:hover{
			background-color: @blue;
		}
	}
}