.order_success{
	display: flex;
	justify-content: center;
	align-items: center;

	i.icon{
		font-size: 5vw;
		color: @green;
	}

	.msg{
		font-size: 2vw;
		font-weight: 100;
		margin-top: 50px;
		display: block;
	}
}

.order_history{
	.header{
		font-weight: 100;
		font-size: 3em;
		margin-bottom: 50px;
	}

	.item{
		display: block;
		background-color: @white;
		border-radius: 5px;
		padding: 13px 25px;
		text-align: left;
		display: flex;
		justify-content:  space-between;
		margin-bottom: 1px;
	}

	.divider{
		margin-top: 100px;
	}
}