#page_div{
  text-align: center;
  padding: 3%;
  margin: 0 auto;

  .richtext{
    a{
      text-decoration: underline !important;
    }
  }
}


#gdpr_div{
  text-align: center;
  padding: 3%;
        margin: 0 auto;

  pre{
    background-color: #FFF;
    display: inline-block;
    text-align: center;
      white-space: pre-line;
      max-width: 800px;
      padding: 50px;
  }
}

.ui.button.text_save_btn{
  margin-top: 25px;
}

#page_wrapper{
  flex:1;
  display: flex;
  flex-direction: column;

  .container{
    background-color: #FFF;
    flex:1;
  }
}

#page_wrapper{
  .page_preview{
    margin-top: 25px;
  }
}

#text_wrapper{
  .attribute{
    margin-bottom: 25px;
  }
}