#product_detail{
	display: flex;
	padding: 100px;

	.left{
		width: 40%;

		.img{
			margin-bottom: 15px;

			img{
				padding: 0 100px 100px 100px;
			}
		}
	}

	.right:not(.labeled):not(.action){
		flex: 1;
		margin-left: 10%;

		#product_name_input{
			font-size: 3em;

			input{
				font-weight: 900;
			}
		}
	}

	#name{
		font-size: 3em;
		font-weight: 900;
		margin-bottom: 25px;
	}

	#code{
		font-size: 2em;
		color: #555;
		font-style: italic;
		vertical-align: top;

		.ui.label{
			margin-left: 15px;
			margin-top: 1px;
		}
	}
}

#create_product_params{

	.row{
		display: flex;
		margin-bottom: 15px;
		
		.ui.input:first-child{
			margin-right: 15px;
		}

		.ui.input:last-child{
			flex:1;
		}
	}


}

#create_product_submit{
	margin-top: 50px;
}