#settings_user{
	display: flex;
	position: relative;

	#left{
		padding-top: 25px;

		border-right: 1px solid #EEE;
		width: 400px;

		.avatar{
			i.icon{
				opacity: 0.7;
			}
		}

		.name{
			margin-top: 15px;
			font-size: 1.2em;
			margin-bottom: 25px;
		}

		.links{
			.item{
				padding: 0 25px;
				margin-bottom: 5px;
			}
		}
	}

	#right{
		flex: 1;
		padding: 50px 0;
	}


}

.settings_account_div{
	padding-left: 80px;
}

#settings_submit_btn{
	margin-top: 25px;
}

#admin_invoice_settings_div{
	margin-top: 25px;
}

.short{
	max-width: 700px;

	.setting{
		display: flex;
		align-items: center;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px dashed #CCC;

		>.label{
			margin-right: 15px;
			flex:1;
		}
	}
}

#files_list{
	padding: 50px 0;

	.input input{
		width: 500px;
	}
}

#contact_wrapper{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.container{
		height: 100%;
		flex: 1;
			display: flex;

	}

	.flex_row{
		flex: 1;		
	}
}

#spolupraca_wrapper{

	justify-content: center;
	flex:1;

	.container{
		background-color: #FFF;
		padding: 50px;
	}

	.image{
		display: inline-block;
		margin: 25px 0;
	}
}