#category_path_wrapper{

	>.container{
		text-align: left;
		padding-left: 35px;
		background-color: #FAFAFA;
		border-bottom: 1px solid #EEE;

	}
}

#subcategories_wrapper{

	>.container{
		background-color: #FAFAFA;
		border-bottom: 1px solid #EEE;

	}

	.subcategories{
		justify-content: start;
		padding-left: 35px;

	}
}

#grid_wrapper{
	>.container{
		background-color: #FAFAFA;
	}
}